
Raw/.DS_Store
Raw/.Rapp.history
Raw/2020 Edition CNTSDATA.xlsx
Raw/all.csv
Raw/all_weekly_excess_deaths.csv
Raw/conflict.csv
Raw/country density.csv
Raw/country density.xlsx
Raw/democracy_index.csv
Raw/economist_estimate_excess_deaths.csv
Raw/education_index.csv
Raw/ethnic_fractionalisation.csv
Raw/ethnic_fractionalisation.xlsx
Raw/EVS_WVS_Joint_v1-0-0_PATCH.Rdata
Raw/EVS_WVS_Merge_v1-0-0_PATCH.R
Raw/gdp_growth.csv
Raw/gdp_growth.xlsx
Raw/geni_index_worldbank.csv
Raw/ghs.csv
Raw/Global_Mobility_Report.csv
Raw/Global_Mobility_Report_OG_not_in_use.csv.zip
Raw/health_spending_worldbank.csv
Raw/health_workers_per_1000.csv
Raw/life_expectancy.csv
Raw/MEIData-2021-01.csv
Raw/mortality.csv
Raw/owid-covid-data.csv
Raw/owid-covid-data_og.csv
Raw/OxCGRT_timeseries_all.xlsx
Raw/OxCGRT_timeseries_all_og.xlsx
Raw/SYB61_253_Population Growth Rates in Urban areas and Capital cities.csv
Raw/SYB62_246_201907_Population Growth, Fertility and Mortality Indicators.csv
Raw/SYB63_1_202009_Population, Surface Area and Density.csv
Raw/SYB63_327_202009_International Migrants and Refugees.csv
Raw/world_bank_indicators.csv
Raw/WVSEVS_Joint_v1-0-0.rdata
Final Output/write_up_test_cache/
.Rproj.user
